body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container h2 {
  margin-top: 20px;
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

.container p {
  line-height: 1.5;
  margin-bottom: 15px;
}

blockquote {
  background-color: #f9f9f9;
  border-left: 5px solid #333;
  padding: 10px 20px;
  margin: 0;
  margin-bottom: 20px;
}

blockquote p {
  margin: 0;
}

footer {
  color: #777;
  font-style: italic;
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

img:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Styles for the "Read More" button */
button {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}
